$insert.control("Settings")</br>
</br>
$insert.control("fileUploadDirLbl")</br>
</br>
</br>
</br>
</br>
$insert.control("userDir")</br>
$insert.control("userHome")</br>
$insert.control("userName")</br>
$insert.control("javaHome")</br>
$insert.control("javaVendorUrl")</br>

