<div id="guestMenu">
<ul>
#foreach ($key in $control.actionKeys)
    #set($action = $control.getActionByKey($key))
    #if($action.enabled)
      <li class="active">
      <a href="$control.createActionURL("click","$key")">$action.title</a></br>
      </li>
    #else
      <li>
      <a href="$control.createActionURL("click","$key")">$action.title</a></br>
      </li>
    #end
#end
</ul>
</div>

