<div class="colmask leftmenu">
	<div class="colright">
		<div class="col1wrap">
			<div class="col1">

				$insert.control("osiHost")
				
			</div>
		</div>
		<div class="col2">
			
			##$insert.control("osiSelector")
			$insert.control("accordion")
			
		</div>
	</div>
</div> 

